/*----- Agent-Home-V3 -----*/
.agent-home-v3 .header{height:91px;position: absolute;left: 0;top:0;right:0;}
.agent-home-v3 .header .logo{margin:35px 0 0 38px;}
.agent-home-v3 .header .arrow-box:after,.agent-home-v3 .header .arrow-box:before{bottom: auto;top:-15px;}
.agent-home-v3 .header .dropdown-menu{
    height: auto;
    width: auto;
    background: rgba(0,0,0,0.5);
    color: #111433;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.agent-home-v3 .header .navbar-nav{margin:33px 29px 0 0;}
.agent-home-v3 .header .navbar-nav > li > a{padding:0;color:#000;text-transform: uppercase;background:none;}
.agent-home-v3 .header .navbar-nav > li > a .fs1{vertical-align: top;font-size: 33px;}
.agent-home-v3 .header .dropdown-menu > li > a{text-transform: uppercase;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;padding:2px 15px;color:#fff;margin:3px 0;}
.agent-home-v3 .header .dropdown-menu > li > a:hover{color:#ff3300;background:none;}
/*navigation direction*/
.agent-home-v3 .navigation-sticky{width: 21px;height:123px;position: fixed;right:50px;top:50%;margin-top:-61px;z-index:100;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li{margin-bottom: 25px;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li .page-scroll{width: 21px;height:3px;display: block;background-color:#999;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li .page-scroll:focus{outline:0;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li a.mPS2id-clicked,.agent-home-v3 .navigation-sticky .navigation-sticky-list li a.mPS2id-highlight{background-color:#fff;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(1) a.mPS2id-clicked,.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(1) a.mPS2id-highlight{background-color:#000;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(2) a.mPS2id-clicked,.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(2) a.mPS2id-highlight{background-color:#fff;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(3) a.mPS2id-clicked,.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(3) a.mPS2id-highlight{background-color:#000;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(4) a.mPS2id-clicked,.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(4) a.mPS2id-highlight{background-color:#fff;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(5) a.mPS2id-clicked,.agent-home-v3 .navigation-sticky .navigation-sticky-list li:nth-child(5) a.mPS2id-highlight{background-color:#fff;}
.agent-home-v3 .navigation-sticky .navigation-sticky-list li:last-child{margin-bottom:0;}
/*title*/
.title-ordinal{
	position: absolute;
	left:-96px;
	top:0;
}
.title-ordinal h2{width: 96px;position: relative;min-height: 334px;}
.title-ordinal .line-vertical{position: relative;width: 96px;height: 96px;margin:23px 0 20px;}
.title-ordinal .line-vertical:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #1c1c1c;
  left: 50%;
  margin-left: -1px;
  z-index: 0;
}
.title-ordinal h2 span{display: block;position: relative;}
.title-ordinal .ordinal-number{color:#cecece;font-size:90px;line-height: 68px;}
.title-ordinal .ordinal-text{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;color:#666;text-transform: uppercase;transform:rotate(-90deg) translate(-20px,-16px);-moz-transform:rotate(-90deg) translate(-20px,-16px);-webkit-transform:rotate(-90deg) translate(-20px,-16px);-ms-transform:rotate(-90deg) translate(-20px,-16px);-o-transform:rotate(-90deg) translate(-20px,-16px);margin-top:53px;cursor: vertical-text;min-width: 126px;font-size: 16px;text-align: right;}
/*----- block container -----*/
.block-introduce .container,.block-portfolio .container,.block-latest .container,.block-achievements .container{max-width: 1100px;}
.block-introduce .container,.block-portfolio .container,.block-achievements .container,.block-client-part .container,.block-latest .container{position: relative;}
.block-portfolio .title-ordinal { margin-top: 130px;}
.block-client-part .title-ordinal { margin-top: 130px;}
/* section hero -----*/
.block-hero{background-color:#ececec;position: relative;padding-top:91px;overflow: hidden;}
.block-hero .col-md-5{overflow: hidden;}
.block-hero .title-ordinal h2 span{background-color: #ececec;}
.block-introduce{padding:106px 0 100px;overflow: hidden;}
.block-introduce .title-ordinal{float: left;margin-right: 117px;width: 96px;}
.block-introduce .block-pattern{padding-left:53px;}
.block-introduce .block-pattern,.block-introduce .intro-content{overflow: hidden;}
.block-introduce .intro-content{font-size: 14px;color:#666;max-width: 390px;}
.block-introduce .intro-content h3{margin:0 0 54px;padding-bottom: 40px;position: relative;text-transform: uppercase;}
.block-introduce .intro-content h3:before,.title-furion:before{
	-webkit-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;
}
.block-introduce .intro-content h3:before{position: absolute;left: 0;bottom:0;border-bottom: 5px solid #1c1c1c;width: 0;content: ""}
.block-introduce .intro-content h3.process:before{border-color:#303030;width: 55px;}
.block-introduce .intro-content h3 a,.block-introduce .intro-content h3 span{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.block-introduce .intro-content h3 a{color:#000;font-size:36px;text-transform: uppercase;font-weight: bold;}
.face-show{position: absolute;right:60px;top:0;max-width: 616px;}
/*----- section portfolio -----*/
.block-portfolio .title-ordinal .line-vertical:before{background-color: #fff;}
.block-portfolio .title-ordinal h2 span{background-color: #595958;}
.block-portfolio .title-ordinal .ordinal-text{color:#fff;}
.block-portfolio {background-color:#595958;color:#fff;}
.block-portfolio .block-introduce .intro-content h3:before{border-color: #fff;}
.block-portfolio .block-introduce .intro-content h3,#section-portfolio .block-introduce .intro-content h3 a{color: #fff;}
.block-portfolio .block-introduce .intro-content h3 span{display: block;font-weight: 400;padding-top:15px;}
.block-portfolio .block-introduce .intro-content{color: #ccc;margin-top: 130px;}
.block-portfolio .block-introduce .intro-content .btn-continue{margin-top:44px;}
.block-portfolio .owl-portfolio{overflow: hidden;}
.block-portfolio .owl-carousel{width: auto;}
/*----- section achievements -----*/
.block-achievements{background-color:#f2f2f2;padding:250px 0 200px;}
.block-achievements .title-ordinal h2 span{background-color: #f2f2f2;}
.list-achievement{list-style: none;padding:0;margin:0 0 30px;}
.list-achievement li{line-height: 30px;font-size: 14px;color: #666;}
.block-creative-award{overflow: hidden;}
.block-creative-award h2{font-size: 18px;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;;font-weight: bold;text-transform: uppercase;margin-bottom: 30px;}
.block-client-part .container{max-width: 1100px;}
.block-client-part .title-ordinal .line-vertical:before{background-color: #fff;}
.block-client-part .title-ordinal .ordinal-text{color: #fff;}
.block-client-part{background:url(../images/front/images-paralax.jpg) no-repeat top center scroll;min-height:874px;padding:135px 0;position: relative;background-size: cover;}
.block-client-part:before{
	background-color: #000;position: absolute;left: 0;top:0;right:0;width: 100%;height:100%;content: '';
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.block-client-part .speech-client{text-transform: uppercase;color:#fff;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-align: center;overflow: hidden;}
.block-client-part .speech-client h2{font-size:36px;font-weight:bold;}
.block-client-part .speech-client p{}
.block-client-part .owl-swiper{max-width: 720px;margin:120px auto 0;text-align: center;}
.block-client-part blockquote{font-size:15px;color:#000;padding-bottom: 50px;color:#fff;border-left: 0;margin:0;}
.block-client-part blockquote > p{font-style: italic;}
.block-client-part blockquote footer{padding-top:20px;}
.block-client-part blockquote footer:before{content: ''}
.block-client-part blockquote footer p,.block-client-part blockquote footer cite{text-transform: uppercase;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.block-client-part blockquote footer p{font-size:18px;color:#fff;font-weight: bold;}
.block-client-part blockquote footer cite{font-size:14px;color:#ccc;font-style: normal;}
.block-client-part .owl-theme .owl-controls{margin-top: 0;}
.owl-theme .owl-controls .owl-page,.owl-theme .owl-controls .owl-page span{vertical-align: middle;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.block-client-part .owl-theme .owl-controls .owl-page.active span,.block-client-part .owl-theme .owl-controls.clickable .owl-page:hover span{
	width: 18px;height:18px;margin:0 7px;
}
.block-client-part .owl-theme .owl-controls .owl-page.active span{margin:2px 7px;}
.list-slogan{margin-top:107px;}
.list-slogan .item-slogan{text-align: center;display: table;height:82px;}
.list-slogan .item-slogan span{display: table-cell;vertical-align: middle;}
/*achievement-social*/
.achievement-social{list-style: none;padding:0;margin:-89px 0 0;}
.achievement-social li{margin-top: 89px;text-align:center;min-height:119px;}
.achievement-social li > a{
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;font-size:40px;
  position: relative;display:inline-block;color:#000;font-weight:bold;text-align:center;z-index: 10;
}
.achievement-social span{display:block;font-size:15px;font-family: Montserrat,"Helvetica Neue";text-transform:uppercase;margin-top:39px;}
.achievement-social span a{color:#333;}
.achievement-social span a:hover{color:#ff6699;}
.achievement-social li:nth-child(1) a:before,
.achievement-social li:nth-child(2) a:before,
.achievement-social li:nth-child(3) a:before,
.achievement-social li:nth-child(4) a:before,
.achievement-social li:nth-child(5) a:before,
.achievement-social li:nth-child(6) a:before,
.achievement-social li:nth-child(7) a:before,
.achievement-social li:nth-child(8) a:before{
  font-family: 'FontAwesome';position: absolute;top:0;z-index:-1;font-size:100px;color:#e5e5e5;
}
.achievement-social li:nth-child(1) > a:before{content: "\f17d";text-align:center;left: 50%;margin-left:-43px;}
.achievement-social li:nth-child(2) > a:before{content: "\f1b4";left: 50%;margin-left:-57px;}
.achievement-social li:nth-child(3) > a:before{content: "\f1be";left: 50%;margin-left:-64px;}
.achievement-social li:nth-child(4) > a:before{content: "\f20e";left: 50%;margin-left:-57px;}
.achievement-social li:nth-child(5) > a:before{content: "\f13c";left: 50%;margin-left:-50px;}
.achievement-social li:nth-child(6) > a:before{content: "\f1b0";left: 50%;margin-left:-46px;}
.achievement-social li:nth-child(7) > a:before{content: "\f029";left: 50%;margin-left:-39px;}
.achievement-social li:nth-child(8) > a:before{content: "\f135";left: 50%;margin-left:-46px;}
/*----- section latest -----*/
.block-latest{background-color: #e9e9e9;overflow: hidden;position: relative;}
.block-latest .owl-latest{padding:270px 0;overflow: hidden;}
.block-latest .title-ordinal{padding:250px 0; }
.block-latest .owl-theme .owl-controls{margin-top:0;position: absolute;left: 0;bottom: 40px;width: 100%;}
.block-latest a.btn-continue{color:#000;}
.block-latest a.btn-continue:hover{color:#079eb9;}
.block-latest .owl-item .col-md-6{overflow: hidden;}
.latest-content{color:#666;max-width: 400px;overflow: hidden;}
.latest-content p{margin-bottom: 35px;line-height: 30px;}
.block-latest .owl-theme .owl-controls .owl-page span,.block-introduce .owl-theme .owl-controls .owl-page span{width: 27px;height:3px;border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}
.block-latest .owl-theme .owl-controls .owl-page span{background-color: #cdcdcd;}
.block-introduce .owl-theme .owl-controls .owl-page span{background-color: #939392;}
.block-latest .owl-theme .owl-controls .owl-page.active span,.block-latest .owl-theme .owl-controls.clickable .owl-page:hover span{background-color: #000;}
.block-introduce .owl-theme .owl-controls .owl-page.active span,.block-introduce .owl-theme .owl-controls.clickable .owl-page:hover span{background-color: #fff;}
/*----- Footer Agent-Home-V3-----*/
.agent-home-v3 .footer{color:#000;height:99px;background-color:#fff;text-align:center;padding:40px 0;}
.agent-home-v3 .footer .logo{margin:67px auto 29px;}
.agent-home-v3 .footer p{font-size:16px;margin-bottom:26px;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.agent-home-v3 .footer .list-language{list-style: none;padding:0;margin:0;float:right;}
.agent-home-v3 .footer .list-language li{float: left;padding:0 15px;line-height:20px;}
.agent-home-v3 .footer .list-language li .follow-me{font-size: 16px;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.agent-home-v3 .footer .list-language li a{color:#ccc;font-size:16px;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.agent-home-v3 .footer .list-language li.active a span,.agent-home-v3 .footer .list-language li.active a span,.agent-home-v3 .footer .list-language li a:hover span,.agent-home-v3 .footer .list-language li a:focus span{color:#000;}
@media (max-width: 1050px) {
	.block-introduce .title-ordinal,.title-ordinal{width:auto;float: none;margin-right:0;left:auto;margin-top: 0;top:auto;position: static;}
	.block-achievements .title-ordinal h2{padding-bottom: 50px;}
	.block-introduce .title-ordinal{padding-bottom: 30px;}
	.block-client-part .title-ordinal h2{text-align: center;}
	.face-show{max-width: 525px;}
	.title-ordinal h2{min-height: inherit;width: auto;margin:0;}
	.title-ordinal h2 span{display: inline-block;vertical-align: middle;}
	.title-ordinal .line-vertical{display: none;}
	.title-ordinal .ordinal-text{
		transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		min-width: inherit;
		text-align: left;
		margin-top: 0;
		cursor: text;
	}
	.title-ordinal .ordinal-number{font-size: 68px;}
	.block-introduce{padding-top:60px;}
	.block-introduce .intro-content h3{margin-bottom: 30px;}
	.block-introduce .intro-content h3 a{font-size: 26px;}
	.block-latest .owl-latest{padding:70px 0 100px;}
	.block-latest{padding-top: 50px;}
	.block-achievements{padding:120px 0;}
	.block-hero .title-ordinal h2 span{background:none;}
}
@media (max-width: 1050px) {
	.achievement-social{margin-top:0;}
	.block-client-part .owl-swiper{margin-top: 60px;}
}
@media (max-width: 890px) {
	.block-introduce .intro-content{max-width: inherit;padding:0 10px;}
	.block-portfolio .block-introduce .intro-content{margin-top: 40px;padding-right:15px;}
	.face-show{max-width: 433px;}
	.block-achievements{padding:90px 0;}
	.block-achievements .title-ordinal h2{padding-bottom: 20px;}
	.agent-home-v3 .footer .list-language li{padding:0 10px;}
	.block-hero .block-introduce{position: relative;z-index: 100;}
}
@media (max-width: 767px) {
	.agent-home-v3 .footer{height: auto;}
	.block-portfolio .block-introduce{padding-left: 30px;padding-right:30px;}
	.face-show{max-width: 325px;}
	.agent-home-v3 .header .navbar-right{float: right;}
	.agent-home-v3 .header .nav > li{text-align: right;}
	.agent-home-v3 .footer .list-language,.agent-home-v3 .footer .list-language li{float: none;}
	.agent-home-v3 .footer .list-language{text-align: center;}
	.agent-home-v3 .footer .list-language li{display: inline-block;}
	.block-introduce .block-pattern{padding-left: 0;text-align: center;}
	.block-portfolio .title-ordinal {padding-left: 0;}
}
@media (max-width: 590px) {
	.face-show{display: none;}
}
@media (max-width: 350px) {
	.list-slogan{margin-top: 50px;}
	.list-slogan .item-slogan{width: 46%;margin-top:40px;}
	.agent-home-v3 .footer .list-language li{padding:0 5px;}
}