/*----- portfolio_single -----*/
.heading-compose:before,.heading-compose:after{content: '';display: table;}
.heading-compose:after{clear: both;}
.heading-compose{padding-right: 150px;}
.heading-compose .panel-title{width: 100%;float: left;}
.heading-compose .customNavigation{float: right;width: 145px;margin:35px -150px 0 0;text-align: right;}
.heading-compose .panel-title{overflow: hidden;}
.page-main .page-content-portfolio{margin-top:55px !important;}
.page-content-portfolio .title-single{font-size: 25px;margin-bottom: 7px;}
.page-content-portfolio .type-detail{color:#666;text-transform: none;margin-bottom: 69px;}
.page-content-portfolio .detail-article .image-article{margin-bottom: 55px;}
.page-content-portfolio .blog-related{margin-top: 27px;}
.page-content-portfolio .blog-related .thumbnail .caption h3{margin-bottom: 7px;}
.page-content-portfolio .blog-related .thumbnail .caption h3 a{font-size: 16px;}
.page-content-portfolio .blog-related .thumbnail .caption p{color:#999;font-size: 13px;}
.inner-article{padding-right:39px;border-right:1px solid #e5e5e5;margin-right: 9px;}
.info-detail{padding:27px 30px;background-color: #f3f3f3;color:#000;}
.info-detail ul li{line-height: 30px;}
.info-detail .name-single{font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;width:122px;padding-right:5px;display: inline-block;}
.info-detail .detail-single{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.inner-single .list-share{padding:40px 0 20px;}
.inner-single .list-share .item-share strong{color: #333;}
.inner-single .list-share .item-share:hover a{color:#cc0000;}
/*owl-gallery*/
.owl-single{position: relative;}
.owl-single.owl-theme .owl-controls{margin:0;}
.customNavigation .btn{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;color:#999;font-weight: bold;padding:0 10px;
}
.customNavigation .next{padding-right: 0;}
.customNavigation .btn:hover,.customNavigation .btn:focus,.customNavigation .btn:active{
  color:#000;
}
/*swiper*/
.album-gallery{padding-bottom: 33px;}
.album-gallery .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.album-gallery .gallery-top {
  width: 100%;
}
.album-gallery .gallery-thumbs {
  height: 95px;
  margin: 33px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.album-gallery .gallery-thumbs span{cursor: pointer;}
.album-gallery .gallery-thumbs .swiper-slide {
  height: 100%;
  width: 170px;
}
.gallery-thumbs .swiper-wrapper{
  justify-content: center !important;
  -webkit-justify-content: center !important;
  transform: none!important;
  -moz-transform: none!important;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

.sorting-portfolio { 
  display: table;
  table-layout: fixed;
}
.sorting-portfolio li {
  display: table-cell;
}

@media (max-width: 991px){
  .album-gallery .gallery-top {
    height: 400px;
  }
}
@media (max-width: 850px){
  .inner-article{padding-right:0;border-right:0;margin:0 0 25px;}
}
@media (max-width: 767px){
  .heading-compose{padding-right:0;}
  .heading-compose .panel-title{float: none}
  .heading-compose .type-detail{margin-bottom:10px;}
  .heading-compose .customNavigation{margin:10px 0 20px;}
  .album-gallery .gallery-top {
    height: 300px;
  }
  .album-gallery .gallery-top img{width:100%;height:auto;}
  .gallery-thumbs{
    display:none;
  }
}
@media (max-width: 550px){
  .album-gallery .gallery-top {
    height: 250px;
  }
}
@media (max-width: 350px){
  .info-detail{padding:10px;}
}